.modal-body {
  padding: 1.45rem;
}
.title {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 1.1rem;
}
.text {
  font-size: 1.15rem;
  font-weight: 500;
  margin-bottom: 1.1rem;
}
.whatsapp-logo {
  width: 7rem;
  display: flex;
  justify-content: center;
  text-align: center;
}
.button {
  padding-left: 7rem;
  padding-right: 7rem;
}
.modal-button {
  margin-top: 1.15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: #64b161;
  padding: 5px;
  border-radius: 0.8em;
}

.modal-button span {
  font-weight: 500;
  font-size: 1.15rem;
  color: #fff;
}
