p:empty {
  display: none;
}

.containerPromo {
  margin-left: 100px;
  margin-right: 100px;
}

.linkCard:hover {
  color: black;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.textPromo {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.imgHome {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.viewProdukList {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.cardItem2 {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  width: 85%;
  min-height: auto;
  max-height: auto;
  border: none;
  border-radius: 20;
  background: #3e3e3e;
}

.items-name {
  font-size: 1.415rem;
}

.item1 {
  filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));
}

.imgCard {
  height: 260px;
}

.cardProductAll {
  margin: 8px;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  z-index: 1;
  width: 100%;
  max-width: 100%;
  background: white;
  transform-origin: top;
}

h2 {
  margin-left: 20px;
}

@media (max-width: 1368px) {
  .cardItem2 {
    width: 85%;
  }

  .imgCard {
    height: 200px;
  }
}