p:empty {
    display: none;
}

.imgHome {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.item1 {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.viewProdukList {
    height: 100%;
    width: 100%;
    object-fit: contain
}

img {
    max-width: 100%;
}

body {
    margin: 0;
    z-index: 1;
    width: 100%;
    max-width: 100%;
    background: white;
    transform-origin: top;
}

h2 {
    margin-left: 20px;
}