.logo {
    height: 75px;
    width: 75px;
}

.navbar {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-image: url("../../assets/navbarbg.png");
    background-size: 13%;
    background-repeat: no-repeat;
    background-position: top right;
    background-color: white;
}

.search {
    width: 800px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 0px -2px, rgba(0, 0, 0, 0.3) 0px 0px 15px -3px;
    margin-right: 20px;
    background-color: #FAFAFA;
    border: none;
}

.rowNav {
    float: right !important;
}